{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-sm-4" id="main-cont">
  <p></p>
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form class="ask_form" method="post" novalidate>
  {% csrf_token %}
  {{ form|crispy }}

  <button type="submit" class="btn btn-success">Login</button>
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}