
.navbar{
 background: #333366;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #333366;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background: #ffffff !important;
}
#main-cont{
    margin-top: 55px;
    background-color: #e4e4e4;
}
.toptext{
    text-align: center;
    padding-top: 15px;
}
#pagnav{
    left: 50%;
}
.question_title{
    color: #6d73e6;
}
a{
text-decoration:none;
}

.author{
    color: #447e9b;
    display: inline;
    text-decoration:none;
}

.timepost{
    color: #959595;
}

.question{
    padding-top: 25px;
}

.time_answer{
    font-size: 14px;
}