{% extends "index.html" %}

{% block content %}

{% for e in form.non_field_errors %}
    <div class="alert_red">{{ e }}</div>
{% endfor %}

<form class="form-horizontal" method="post" action="ask">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
        <div class="control-group{% if field.errors %}has-error{% endif %}">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
            </div>
        {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>


{% endblock %}
