<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Q&A</title>{% endblock %}
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<div id="header">
    <ul class="hr">
        <li><a href="http://127.0.0.1:8000/qa">Main</a></li>
        <li><a href="http://127.0.0.1:8000/qa/new">New</a></li>
        <li><a href="http://127.0.0.1:8000/qa/popular">Popular</a></li>
        <li><a href="http://127.0.0.1:8000/qa/ask">Ask</a></li>
        <li><a href="http://127.0.0.1:8000/qa/signup">signup</a></li>
    </ul>
</div>
<div id="body">
    {% block new5 %}{% endblock %}
    {% block popular5 %}{% endblock %}
    {% block content %}{% endblock %}
</div>




</body>

</html>




