{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-8" id="main-cont">
<div class="question">
    <h2 class="question_title">{{ question.title }}</h2>
    <h4 class="question_text">{{ question.text }}</h4>
    <h6 class="timepost"><a class="author" href="#"> {{ question.author }} </a>{{question.get_time}}</h6>
    <hr>
</div>

{% for e in form.non_field_errors %}
    <div class="alert_red">{{ e }}</div>
{% endfor %}

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save person</button>
    </form>


{% for answer in answers %}
<div>
    <h5 class="timepost"><a class="author" href="#"> {{ answer.author }} </a><span class="time_answer">{{answer.get_time}}</span></h5>
    <h5> {{answer.text }} </h5>
    <hr>
</div>
{% endfor %}




</div>
{% endblock %}

{% for e in form.non_field_errors %}
    <div class="alert_red">{{ e }}</div>
{% endfor %}
<form class="form-horizontal" method="POST" action="{{question.pk}}">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea" rows="2"></textarea>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>
<hr>